@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "aeonik";
    src: url("../public/fonts/Aeonik/AeonikProTRIAL-Regular.otf");
  }
  * {
    cursor: none;
  }

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #078080;
    mix-blend-mode: difference;
background-color: white;
  }